body {
    background: black;
    color: #a38d6d;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: normal;
    font-style: normal;
    cursor: default;
}

html, body {
    font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #cec59f;
    text-rendering: optimizeLegibility;
    margin-top: .2em;
    margin-bottom: .5em;
    line-height: 1.2125em;
}

h3 {
    font-size: 1.375em;
    padding-left:12em
}

h3 {
    font-size: 1.17em;
    font-weight: bold;
}

hr {
    border: solid #302e2e;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

.border {
    border: solid #302e2e;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25em 0 1.1875em;
    height: 0;
}

label {
    font-size: .875em;
    color: #a79070;
    cursor: pointer;
    display: block;
    font-weight: 500;
    margin-bottom: .1875em;
}

h3 {
    padding-left:6em;
}

.ui-outputlabel{
    color:dimgray;
}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    color: #cec59f;
}

.Container{max-width: 800px; width: 100%; display:table;}
.CreateForm{display:table-cell; vertical-align:middle; width: 100%; max-width: 200px}
.MenuContainer{vertical-align:middle; display:table-cell; width:400px;}
.MenuInnards{float:right;}


.ui-outputlabel{
    color: #a79070;
}

.slideDown { background:black; display: none; }
.grabPromo { cursor:pointer; }

.content{
    background-color: #0F0F0F;
    border-left: 1px solid #302e2e;
    border-right: 1px solid #302e2e;
    border-bottom: 1px solid #302e2e;
    padding-left: 1.2em;
    max-width: 1000px;
}

.subContent{

    background-color: #1F1F1F;
    border-left: 1px solid #302e2e;
    border-right: 1px solid #302e2e;
    border-bottom: 1px solid #302e2e;

    position: relative;
    padding-left: 1.2em;
    padding-right: 1.2em;
    float: left;
}

.ui-outputtext{
    color:#a79070;
}









